@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.mainStyling {
  .cardsContainer {
    @include m.flexBox(column, center, center);
    padding: 0rem 1rem;

    &.casesCards {
      margin-top: -5rem;
    }

    .sectionHeader {
      @extend %headerFontFamily;
      color: v.$main-color-light-blue;
    }
  }
}
