@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.navbarStyling {
  @include m.flexBox(column, center, center, 0.5rem);
  padding: 0;

  @media (min-width: 760px) {
    flex-direction: row;
  }

  li {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    padding-right: 0.4rem;

    &:last-of-type {
      border: 0;
    }
    
    @media (min-width: 1280px) {
      border-right: 1px solid v.$main-color-light-blue;
    }

    a {
      color: v.$main-color-light-blue;
      text-decoration: none;
    }
  }
}
