@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/placeholders";

.headerStyling {
  color: v.$main-color-white;
  @media (min-width: 1280px) {
    position: absolute;
    top: 13%;
    right: 23%;
  }
  .heroHeader {
    @include m.flexBox(row, center, center, 0.4rem);

    h2 {
      margin: 0;
      @extend %headerFontFamily;
      font-size: 60px;

      @media (min-width: 1280px) {
        font-size: 100px;
      }

      &:first-of-type {
        color: v.$main-color-light-blue;
        text-shadow: 2px 2px #00000022;
      }
    }

    span {
      font-size: 40px;
      @media (min-width: 1280px) {
        font-size: 70px;
      }
    }
  }

  p {
    text-align: center;
    margin: 0;

    @media (min-width: 1280px) {
      padding-left: 2rem;
    }
  }
}
