@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center);
  border: 6px solid v.$main-color-dark-blue;
  width: 250px;

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 1rem;
    width: 1192px;
  }

  &:last-child {
    flex-direction: row-reverse;
  }
  img {
    width: 100%;

    @media (min-width: 1280px) {
      width: 50%;
    }
  }

  figcaption {
    padding: 1rem 1rem;
    @media (min-width: 1280px) {
      width: 100rem;
    }

    header {
      h3 {
        @extend %headerFontFamily;
        text-align: center;
        color: v.$main-color-light-blue;
      }
    }

    p {
      @media (min-width: 1280px) {
        width: 500px;
      }
    }
  }
}
