@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center);
  border: 6px solid v.$main-color-dark-blue;
  width: 250px;

  @media (min-width: 760px) {
    flex-direction: row;
    gap: 2rem;
    width: 700px;

    &:last-child {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1280px) {
    gap: 1rem;
    width: 1192px;
  }

  img {
    width: 100%;

    @media (min-width: 760px) {
      width: 50%;
      height: 49vh;
    }

    @media (min-width: 1280px) {
      width: 50%;
      height: 100%;
    }
  }

  figcaption {
    padding: 1rem 1rem;
    @media (min-width: 760px) {
      width: 100rem;
    }

    @media (min-width: 1280px) {
      width: 100rem;
    }

    header {
      h3 {
        @extend %headerFontFamily;
        text-align: center;
        color: v.$main-color-light-blue;

        @media (min-width: 1280px) {
          font-size: 32px;
          padding-bottom: 1.5rem;
        }
      }
    }

    p {
      @media (min-width: 1280px) {
        width: 500px;
      }
    }
  }
}
