@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.locationStyling {
  @include m.flexBox(column, center, center);
  border: 5px solid v.$main-color-dark-blue;
  margin: 0rem 3.5rem 1rem 3.5rem;

  @media (min-width: 760px) {
    flex-direction: row;
  }
}
