.heroStyling {
  display: block;
  background-image: url("../../assets/images/Header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  @media (min-width: 1280px) {
    height: 100vh;
  }
}
